<%= render 'pages/home' unless user_signed_in? %>

<div id = "posts" class = "transitions-enabled">
    <% @posts.each do |post| %>
      <div class = "box  panel panel-default">
				<%= link_to image_tag(post.image.url(:medium)), post %>
				<div class = "panel-body">
        	<%= post.description %> <br />
					<strong><%= post.user.name if post.user %></strong>
					<% if post.user == current_user %>
						<div class = "actions">
        			<%= link_to edit_post_path(post) do %>
								<span class="glyphicon glyphicon-edit"></span> Edit
							<% end %>
        			<%= link_to method: :delete, data: { confirm: 'Are you sure?' } do %>
							<span class="glyphicon glyphicon-trash"></span>
							Delete
							<% end %>
						</div>
					<% end %>
				</div>
			</div>
    <% end %>
</div>
<div class="center">
	<%= will_paginate @collection, renderer: BootstrapPagination::Rails%>
</div>